[submodule "roles/sg-base"]
	path = roles/sg-base
	url = https://github.com/SimpleGateway/sg-base.git
[submodule "roles/ltsp-pnp"]
	path = roles/ltsp-pnp
	url = https://github.com/UTD-CSG/ltsp-pnp.git
[submodule "roles/sg-pxeboot"]
	path = roles/sg-pxeboot
	url = https://github.com/SimpleGateway/sg-pxeboot.git
[submodule "roles/sshd"]
	path = roles/sshd
	url = https://github.com/void-ansible-roles/sshd.git
[submodule "roles/network"]
	path = roles/network
	url = https://github.com/void-ansible-roles/network.git
[submodule "roles/xorg"]
	path = roles/xorg
	url = https://github.com/void-ansible-roles/xorg.git
[submodule "roles/xbps-repoconf"]
	path = roles/xbps-repoconf
	url = https://github.com/void-ansible-roles/xbps-repoconf.git
[submodule "roles/cinnamon"]
	path = roles/cinnamon
	url = https://github.com/void-ansible-roles/cinnamon.git
[submodule "roles/dbus"]
	path = roles/dbus
	url = https://github.com/void-ansible-roles/dbus.git
[submodule "roles/lightdm"]
	path = roles/lightdm
	url = https://github.com/void-ansible-roles/lightdm.git
[submodule "roles/lightdm-webkit-greeter"]
	path = roles/lightdm-webkit-greeter
	url = https://github.com/void-ansible-roles/lightdm-webkit-greeter.git
[submodule "roles/csg-greeter-theme/files/csg_greeter_theme"]
	path = roles/csg-greeter-theme/files/csg_greeter_theme
	url = https://github.com/utdcsg/csg_greeter_theme.git
[submodule "roles/greeter-theme/files/csg_greeter_theme"]
	path = roles/greeter-theme/files/csg_greeter_theme
	url = https://github.com/utdcsg/csg_greeter_theme.git
[submodule "roles/ntp"]
	path = roles/ntp
	url = https://github.com/void-ansible-roles/ntp.git
[submodule "library/ansible_xbps"]
	path = library/ansible_xbps
	url = https://github.com/void-ansible-roles/ansible_xbps.git
[submodule "roles/wol-overlay"]
	path = roles/sg-wol
	url = https://github.com/SimpleGateway/sg-wol.git
[submodule "roles/sg-dhcp"]
	path = roles/sg-dhcp
	url = https://github.com/SimpleGateway/sg-dhcp.git
[submodule "roles/sg-ntp"]
	path = roles/sg-ntp
	url = https://github.com/SimpleGateway/sg-ntp.git
[submodule "roles/sg-dns"]
	path = roles/sg-dns
	url = https://github.com/SimpleGateway/sg-dns.git
[submodule "filter_plugins/sg-filters"]
	path = filter_plugins/sg-filters
	url = git@github.com:SimpleGateway/sg-filters.git
